body{
  background-color: #F3F3F4;
  color: #14110F;
  padding: 5%;
}

a{
  text-decoration: none;
}
a:visited{
  color: #7E7F83;
}

.headerImg{
  display:flex;
  justify-content: center;
}
.header{
  text-align: center;
}

.reviewCards{
  display:block;
}
.reviewHeader{
  display:block;
  padding-left: 15%;
  font-size: 40px;
  font-weight: bold;
}
.review{
  background-color: #7C77B9;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: auto;
  color: #F3F3F4;
  padding: 5px;
  margin: 10px;
  font-size: 30px;
}
.star{
  font-size: 30px;
  text-align: center;
}
.signature{
  text-align: right;
  font-size: 15px;
}

.contentHeader{
  text-align: center;
  font-size: 40px;
}
.content{
  column-count: 2;
}
.paragraphEnd{
  text-align:center;
}

.reviewInfo{
  display:flex;
  width:100%
}
.leaveReview{
  float:left;
  width:50%;
}
.reviewHeader{
  font-size:30px;
}
.reviewBox{
  width: 200px;
  height: 100px;
}
.sendButton{
  background-color: #7C77B9;
  padding: 10px;
  margin-left: 25%;
  text-align: left;
}
a.sendButton{
  color: #F3F3F4;
}
.table{
  float:right;
  width:50%;
  margin:40px;
}


li {
display: inline-block;
}
